@font-face{
    font-family: 'Science';
    src:url(Lato-Bold.ttf);
}

@font-face{
    font-family: 'opening';
    src:url(moon_get-Heavy.ttf);
}

.npbody{
    margin: 0px !important;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Science', 'sans-serif' !important;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #000000;
    display:flex;
    align-items: baseline;
    justify-content: center;
    padding: 1.5rem;
    gap: 1rem;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
}

.mydropdown-heading{
    text-align: center;
    color: white;
}

.minibuttons{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border: none;
    margin: 0.5rem;
    background-color: transparent;
    border-radius: 10px;
    border-image: linear-gradient(217deg, #79edff, #ff000000 70.71% ), linear-gradient(127deg, #003fe0, #00ff0000 70.71%), 
    linear-gradient(336deg, #8f37c9, #0000ff00 70.71%);
    transition-duration: 0.4s;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.minibuttons:hover{
    background-color: #ffffff41;
    transform: scale(1.1); 
}

.link{
    color: #afafaf;
    text-decoration: none;
    font-family: 'Science', sans-serif;
    font-size: inherit;
    padding: 0 10px;
    margin-left: 20px;
    cursor: pointer;
    border: none;
    background-color: transparent;
    transition-duration: 0.4s;
}

.mydropdown.active > .link,
.link:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.2); 
}

.mydropdown{
    position: relative;
}

.mydropdown-menu{
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    background-image: linear-gradient(to bottom right, rgb(0, 0, 101), rgb(0, 0, 101), rgb(0, 0, 59));
    padding: 1rem;
    border-radius: 1.5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    display:none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(-10px);
}


.mydropdown.active > .link + .mydropdown-menu{
    display: block;
    transform: translateY(0);
}

.information1-grid{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 2rem;
}

.mydropdown-links{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.logoname{
    background-image: linear-gradient(217deg, #5a54ff, #ff000000 70.71% ), linear-gradient(127deg, #de4bff, #00ff0000 70.71%), 
    linear-gradient(336deg, #0f1896, #0000ff00 70.71%);
    -webkit-background-clip: text;
    background-clip: text;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 6%;
}

/* Nav bar stuff is up top next is all the accessories*/

.openingtext{
    font-size: 60px;
}

.beginwelcome{
    color: rgb(255, 255, 255);
    margin-top: 40%;
    text-align: center;
}

.beginp{
    margin-left: 15%;
    font-size: 20px;
}

.welcome{
    color: rgb(255, 255, 255);
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}


.subwelcome{
    color: rgb(165, 165, 165);
    font-size: 30px;
    margin-left: 15%;
}

/*This is the code for the buttons to enlist in the nonprofit*/

.LogoControl{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-left: 3%;
}

.pageContent {
    margin: 0 auto;
    max-width: none;
    min-width: 1000px;
    overflow: hidden;
}

.teampic{
    border-radius: 20%;
    transition: 0.4s;
    margin: 10px;
}

.anotherteam{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.ourteam{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.teampic:hover{
    transform: scale(1.03);
    box-shadow: 2px 2px 20px rgba(207, 14, 255, 0.791);
}

.ourteam1{
    margin-top: 8%;
    flex-wrap: wrap;
    border-radius: 20%;
    display: inline-flex;
    transition: 0.4s;
}

.ourteam1:hover{
    transform: scale(1.05);
    box-shadow: 6px 6px 20px rgba(0, 229, 255, 0.753);
}

.ourteam2{
    margin-top: 8%;
    flex-wrap: wrap;
    border-radius: 20%;
    display: inline-flex;
    transition: 0.4s;
}

.ourteam2:hover{
    transform: scale(1.05);
    box-shadow: 6px 6px 20px rgba(255, 0, 0, 0.798);
}

.ourteam3{
    margin-top: 8%;
    flex-wrap: wrap;
    border-radius: 20%;
    display: inline-flex;
    transition: 0.4s;
}

.ourteam3:hover{
    transform: scale(1.05);
    box-shadow: 6px 6px 20px rgba(255, 22, 224, 0.805);
}

.ourteam4{
    margin-top: 8%;
    flex-wrap: wrap;
    border-radius: 20%;
    display: inline-flex;
    transition: 0.4s;
}

.ourteam4:hover{
    transform: scale(1.05);
    box-shadow: 6px 6px 20px rgba(223, 255, 107, 0.805);
}

.roll-animation{
    animation-name: infiniterollaround; 
   animation-duration: 15s;
   animation-iteration-count: infinite;
   animation-timing-function: ease;
   transition: all .3s;
}

@keyframes infiniterollaround{
    0%{
        transform: rotate(0deg);
    }

    50%{
        transform: rotate(180deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

.updown-animation{
    animation-name: infiniteupdown; 
   animation-duration: 3s;
   animation-iteration-count: infinite;
   animation-timing-function: ease;
   transition: all .3s;
}

@keyframes infiniteupdown {
    0%{
        transform: translateY(0px);  
    }

    50%{
        transform: translateY(-10px); 
    }

    100%{
        transform: translateY(0px); 
    }
}


.accordion {
    --bs-accordion-color: #ffffff !important;
    --bs-accordion-bg: #fff0 !important;
    --bs-accordion-btn-color: #ffffff !important;
    --bs-accordion-active-color: #ffffff !important;
    --bs-accordion-active-bg: #ffffff00 !important;
}

.footer{
    margin-top: 10rem;
    padding: 6rem;
}

.socialsbutton{
    color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: none;
    text-decoration: none;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #0396ff;
    border-radius: 10px;
    transition: 0.4s;
    margin-top: 5%;
    font-size: 20px;
}

.socialsbutton:hover{
    transform: scale(1.08);
    background-color: #007ad1;
}


/*section{
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 60vh;
    font-size: 40px;
    padding: 0;
    margin: 0;
}

.hidden{
    opacity: 0;
    transition: all 4s;
    margin-top: 60%;
    font-family: 'Science', sans-serif;
}

.show{
    opacity: 1;
}
*/
/*<section class="hidden">
        <h3>Our Mission</h3>
        <p>To enrich members of the club with specialized content about biology, chemistry, and physics</p>
    </section>*/
    

/*<div class="dropdown" data-dropdown>
            <button class="link" data-dropdown-button>Resources</button>
            <div class="dropdown-menu information-grid">
                <div class="dropdown-heading">Biology</div>
                <div class="dropdown-links">
                    <a href="#" class="minibuttons">earth</a>
                    <a href="#" class="minibuttons">earth</a>
                    <a href="#" class="minibuttons">earth</a>
                </div>
                <div class="dropdown-heading">Chemistry</div>
                <div class="dropdown-links">
                    <a href="#" class="minibuttons">earth</a>
                    <a href="#" class="minibuttons">earth</a>
                    <a href="#" class="minibuttons">earth</a>
                </div>
                <div class="dropdown-heading">Physics</div>
                <div class="dropdown-links">
                    <a href="#" class="minibuttons">earth</a>
                    <a href="#" class="minibuttons">earth</a>
                    <a href="#" class="minibuttons">earth</a>
                </div>
                <div class="dropdown-heading">Other</div>
                <div class="dropdown-links">
                    <a href="#" class="minibuttons">earth</a>
                    <a href="#" class="minibuttons">earth</a>
                    <a href="#" class="minibuttons">earth</a>
                </div>
            </div>
        </div>*/


/*
<div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <h1 class="welcome">SOURCE</h1>
          <p class="subwelcome">The only place you need for all things STEM.</p>
          <div class="VolunteerModule">
            <a href="#" class="infobuttons">Volunteer</a>
          </div>
          <div class="row">
            <div class="col-7">
              <div class="StartChapterModule">
                <a href="#" class="infobuttons">Start Your Own Chapter</a>
              </div>
            </div>
            <div class="col-5">
              <div class="EVENTModule">
                <a href="#" class="infobuttons">Events</a>
              </div>
            </div>
          </div>
          <div class="missionheading">
            <h1>Our Mission</h1>
        <p class="ourmission">The mission of STEM4ALL is to give underpriveleged <br> people a chance
        to learn about STEM.Through our high quality resources<br> ranging from physics to computer science, we aim to 
        provide each individual<br> a chance to learn about STEM.
        </p>
          </div>
        </div>
        <div class="col-2"></div>
      </div>*/